{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notespace</title>
    <link href="{% static 'savetext/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>

<div class="container2">
  <div class="flipper">
    <div class="front">
  <form method="POST" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit">
    </form>
  </div>
  <div class="back">
    </div>
  </div>
</div>
  

  <div class="buttonwrap">

  <button id="backbutton">back</button>
  
  </div>

    <script src="{% static 'savetext/script3.js' %}"></script>
  </body>
</html>
